<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { pageTitle: "Eikon | Edit a Product" }) %>

    <body>
        <!-- HEADER-->
        <%- include('../partials/header') %>
            <!-- Page content-->
            <section id="product-detail">
                <div class="container">
                    <div class="row justify-content-center align-content-center">
                        <div class="col-12 col-md-6 text-center mb-3">
                            <h1 class="glow-white">EDITAR N° <%= product.id %> | <%= product.title %>
                            </h1>
                        </div>
                    </div>
                    <div class="row justify-content-center align-content-center">
                        <div class="col-12 col-md-6" id="product-create">
                            <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST"
                                enctype="multipart/form-data">
                                <div class="row create-product-form">

                                    <!-- TITRE -->
                                    <div class="col-sm-12 form-group">
                                        <input type="text" class="form-control" name="product-title" id="product-title"
                                            placeholder="Titulo de la obra" value="<%= product.title %>" required>
                                    </div>

                                    <!-- DESCRIPTION -->
                                    <div class="col-sm-12 form-group">
                                        <textarea class="form-control" name="product-description"
                                            id="product-description" rows="10" placeholder="Descripción de la obra"
                                            required><%= product.description %></textarea>
                                    </div>

                                    <!-- PRICE -->
                                    <div class="col-sm-12 form-group">
                                        <input type="number" min="0" name="product-price" class="form-control"
                                            id="product-price" placeholder="Precio ARS $" value="<%= product.price %>"
                                            required>
                                    </div>

                                    <!-- CATEGORY -->
                                    <div class="col-sm-12 form-group">
                                        <select id="product-category" name="product-category" required>

                                            <option disabled> Categoría </option>

                                            <option value="poster" <%=product.category==="poster" ? "selected" : "" %>>
                                                Poster
                                            </option>

                                            <option value="photo" <%=product.category==="photo" ? "selected" : "" %>>
                                                Photo
                                            </option>

                                            <option value="postcard" <%=product.category==="postcard" ? "selected" : ""
                                                %>>
                                                Postcard
                                            </option>

                                        </select>
                                    </div>

                                    <!-- ESPACIO -->
                                    <div class="col-sm-12 product-form-switch">
                                        <p>Espacio:</p>

                                        <% const spaces=product.space || []; %>

                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="office"
                                                    name="office" <%=spaces.includes("office") ? "checked" : "" %>>
                                                <label class="form-check-label" for="office">Aesthetics offices</label>
                                            </div>

                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="home" name="home"
                                                    <%=spaces.includes("home") ? "checked" : "" %>>
                                                <label class="form-check-label" for="home">Home Sweet Home</label>
                                            </div>

                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="professionals"
                                                    name="professionals" <%=spaces.includes("professionals") ? "checked"
                                                    : "" %>>
                                                <label class="form-check-label"
                                                    for="professionals">Interioristas</label>
                                            </div>

                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="museum"
                                                    name="museum" <%=spaces.includes("museum") ? "checked" : "" %>>
                                                <label class="form-check-label" for="museum">Serie Limitada</label>
                                            </div>
                                    </div>

                                    <!-- TEMA -->
                                    <div class="col-sm-12 product-form-switch">
                                        <p>Tema:</p>

                                        <% const themes=product.theme || []; %>

                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="architecture"
                                                    name="architecture" <%=themes.includes("architecture") ? "checked"
                                                    : "" %>>
                                                <label class="form-check-label">Architecture</label>
                                            </div>

                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="animals"
                                                    name="animals" <%=themes.includes("animals") ? "checked" : "" %>>
                                                <label class="form-check-label">Animals</label>
                                            </div>

                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="vintage"
                                                    name="vintage" <%=themes.includes("vintage") ? "checked" : "" %>>
                                                <label class="form-check-label">Vintage</label>
                                            </div>

                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="bauhaus"
                                                    name="bauhaus" <%=themes.includes("bauhaus") ? "checked" : "" %>>
                                                <label class="form-check-label">Bauhaus</label>
                                            </div>

                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="maps" name="maps"
                                                    <%=themes.includes("maps") ? "checked" : "" %>>
                                                <label class="form-check-label">Mapas</label>
                                            </div>

                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="blueprints"
                                                    name="blueprints" <%=themes.includes("blueprints") ? "checked" : ""
                                                    %>>
                                                <label class="form-check-label">Blueprints</label>
                                            </div>
                                    </div>

                                    <!-- IMAGE PORTADA -->
                                    <div class="col-sm-12 form-group">
                                        <label class="form-label">Portada Actual:</label><br>
                                        <img src="../../<%= product.coverImage %>" width="120" class="mb-2">


                                        <label for="portada" class="form-label custom-file-upload">Cambiar Imagen de
                                            portada:</label>
                                        <span id="portada-file-name">Ningúna imagen seleccionada</span>
                                        <input class="form-control product-images" type="file"
                                            accept="image/png, image/jpeg, image/webp" id="portada" name="portada">



                                    </div>

                                    <!-- IMAGE LAMINA -->
                                    <div class="col-sm-12 form-group">
                                        <label class="form-label">Actual Lamina:</label><br>
                                        <img src="../../<%= product.secundaryImage %>" width="120" class="mb-2">

                                        <label for="lamina" class="form-label custom-file-upload">Cambiar
                                            Lamina:</label>
                                        <span id="lamina-file-name">Ningúna imagen seleccionada</span>
                                        <input class="form-control product-images" type="file"
                                            accept="image/png, image/jpeg, image/webp" id="lamina" name="lamina">
                                    </div>

                                    <!-- SUBMIT -->
                                    <div class="col-sm-12 form-group">
                                        <button type="submit" class="w-100 btn btn-sm eikon-btn">
                                            ACTUALIZAR PRODUCTO
                                        </button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </section>
            <!-- FOOTER-->
            <%- include('../partials/footer') %>
                <!-- SCRPTS -->
                <%- include('../partials/scripts') %>
    </body>

</html>